@charset "UTF-8";


html{
/*横幅の指定*/
 width:1000px;
/*フォントの指定*/
 font-family: 'Noto Serif JP', serif;
}


body{
/*ページ全体の横幅・縦幅の指定*/*/
 width:1000px;
 height:1000px;
/*背景画像の指定*/
 background-image:url("../image/index_back.jpg");
  　　text-size-adjust: 100%;
 　　-webkit-text-size-adjust: 100%;/*Chrome,Safari*/
 　　-ms-text-size-adjust: 100%;/*EgdeMobile*/
 　　-moz-text-size-adjust: 100%;/*firefox*/
}


#header{
/*横幅縦幅の指定*/
 width:1000px;
 height:190px;
/*要素を縦に並べる*/
 display:inline-block;
/*左寄りに配置する*/
 float:left;
/*奥行きの優先度を設定する*/
 z-index:3;
}

#HumbergerMenu {
float:left;
padding-top:100px;
margin-left:40px;
}
 
#HumCheck, #HumClose { display:none; }
#HumOpen {
  display: block;
  width: 58px;
  cursor: pointer;
}
#HumOpen:hover {
  opacity: 0.5;
}
#HumOpen img { display: block; }
#HumClose, nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}
#HumClose {
  z-index: 2;
  width: 100%;
  background: gray;
  opacity: 0.8;
  transition: 0.5s;
}
nav {
  z-index: 3;
  width: 330px;
  background: #ffc0b2;
  transition: 0.5s;
  transform: translateX(-100%);
}
#HumCheck:checked ~ #HumClose { display: block; }
#HumCheck:checked ~ nav {
  transform: translateX(0);
}
nav ul{
overflow: hidden;
list-style: none;
}
nav li{
  padding: 15px 0;
  margin: 10px 0;
}
nav li:hover{
  opacity: 0.5;
}
nav li a{
  font-size: 30px;
  text-decoration: none;
  color: #767171;;
}



/*店名ロゴの設定*/
#header #rogo{
/*場所の指定*/
 margin-left: 220px;
 width:360px;
/*縦に配置する*/
 display:inline-block;
/*奥行きの優先度を設定する*/
 z-index:3;
}
/*店名ロゴにポイントを乗せると透明度が変わる*/
#header #rogo:hover{

opacity:0.5;

}
/*インスタグラムの画像について設定*/
#instagram{
/*右寄りに設定する*/
 float:right;
/*配置場所を設定する*/
 margin-top:80px;
 margin-right:40px;
/*奥行きの優先度を設定する*/
 z-index:3;
 height:64px;
 width:64px;
}

/*インスタグラムの画像にポインターを載せると透明度が変わる*/
#instagram:hover{

opacity:0.5;

}
#access h2{
/*フォントサイズの変更*/
 font-size:30px;

}

#access h3{
/*フォントサイズの変更*/
 font-size:24px;

}


#moyori p{
/*文字色の変更*/
 color:#777777;
/*フォントサイズの変更*/
 font-size:22px;
}

#shop_adress p{
/*文字色の変更*/
 color:#777777;
/*フォントサイズの変更*/
 font-size:22px;

}

/*画面下のメニューバーの設定*/

#menu_bottom{
/*テキストの場所を中央寄りにする*/
text-align:center;
/*横幅の指定*/
width:1000px;
/*左寄りにする*/
float:left;
/*配置場所の設定*/
margin-top:360px;
}

#menu_bottom ul{
/*横幅の指定*/
width:1000px;
margin-left:-44px;
}

#menu_bottom li{
/*マーカーの削除*/
list-style: none;
/*縦に配置する*/
display: table;
/*サイズを変更する*/
padding-left:114px;
padding-right:114px;
/*フォントの太さを変更する*/
font-weight:bold;
/*背景色を変更する*/
background-color:#ffc0b2;
/*文字サイズを変更する*/
font-size:20px;
/*箱のサイズを変える*/
padding-top:30px;
padding-bottom:30px;
/*左寄りに配置する*/
float:left;
 /*横幅を指定*/
 width:105px;
}

#menu_bottom li a{
/*マーカーをなくす*/
text-decoration: none;
/*文字の色を変える*/
color:#767171;
/*テキストを中央寄りにする*/
text-align:center;

}

#menu_bottom li a:hover{
/*マーカーをなくす*/
text-decoration: none;
/*文字の色を変える*/
color:#ffffff;
/*テキストを中央寄りにする*/
text-align:center;

}
