@charset "UTF-8";


html{
/*横幅の指定*/
 width:1000px;
/*フォントの指定*/
 font-family: 'Noto Serif JP', serif;
}


body{
/*ページ全体の横幅・縦幅の指定*/*/
 width:1000px;
 height:1800px;
/*背景画像の指定*/
 background-image:url("../image/index_back.jpg");
}


#header{
/*横幅縦幅の指定*/
 width:1000px;
 height:190px;
/*要素を縦に並べる*/
 display:inline-block;
/*左寄りに配置する*/
 float:left;
/*奥行きの優先度を設定する*/
 z-index:3;
}


#HumbergerMenu{
/*左寄りに配置する*/
float:left;
/*配置場所の指定*/
padding-top:100px;
margin-left:40px;
/*奥行きの優先度を設定する*/
 z-index:3;
}

/*チェックボックスを非表示にする*/
#HumberCheck, #HumberClose{ 
/*要素を非表示にする*/
display:none; 

}


#HumberOpen{
/*要素を縦に並べる*/
 display: block;
/*横幅を指定する*/
 width: 58px;
/*ポインターの形を変える*/
 cursor: pointer;
}
/*ハンバーガーメニューにポインターを載せた時の処理*/
#HumberOpen:hover {
/*ハンバーガーメニュー画像の透明度を変える*/
 opacity: 0.5;
}
/*ハンバーガーメニューの画像についての設定*/
#HumberOpen img { 
/*要素を縦に並べる*/
display: block; 

}

/*閉じているメニューについての設定項目*/
#HumberClose, nav {
/*位置を固定にする*/
 position: fixed;
/*座標を指定する*/
 left: 0;
 top: 0;
/*高さを決める*/
 height: 100%;
}

/*灰色の要素に対する設定項目*/
#HumberClose {
/*奥行きの優先度を設定する*/
 z-index: 3;
/*横幅の指定*/
 width: 100%;
/*背景色の指定*/
 background: gray;
/*透明度の指定*/
 opacity: 0.8;
/*指定した座標に動くまでの時間*/
 transition: 0.5s;
}
nav {

/*奥行きの優先度を設定する*/
 z-index: 3;
/*横幅の指定*/
 width: 330px;
/*背景色の指定*/
 background: #ffc0b2;
/*指定した座標に動くまでの時間*/
 transition: 0.5s;
 transform: translateX(-100%);
}

/*ボタンが押されたときの閉じているメニューの設定*/
#HumberCheck:checked ~ #HumberClose {
/*要素を縦に並べる*/
 display: block; 
}

#HumberCheck:checked ~ nav {
/*座標を移動する*/
  transform: translateX(0);
}

nav ul{
/*はみ出ている部分を隠す*/
 overflow: hidden;
/*マーカーを消す*/
 list-style: none;
}
nav li{
 /*範囲を広げる*/
 padding: 15px 0;
 margin: 10px 0;
}
nav li:hover{
/*透明度の指定*/
 opacity: 0.5;
}

/*ナビゲーションメニュー*/
nav li a{
/*テキストのサイズを変更する*/
 font-size: 20px;
/*マーカーを削除する*/
 text-decoration: none;
/*色を指定する*/
 color: #767171;;
}


/*店名ロゴの設定*/
#header #rogo{
/*場所の指定*/
 margin-left: 220px;
 width:360px;
/*縦に配置する*/
 display:inline-block;
/*奥行きの優先度を設定する*/
 z-index:3;
}
/*店名ロゴにポイントを乗せると透明度が変わる*/
#header #rogo:hover{

opacity:0.5;

}
/*インスタグラムの画像について設定*/
#instagram{
/*右寄りに設定する*/
 float:right;
/*配置場所を設定する*/
 margin-top:80px;
 margin-right:40px;
/*奥行きの優先度を設定する*/
 z-index:3;
 height:64px;
 width:64px;
}

/*インスタグラムの画像にポインターを載せると透明度が変わる*/
#instagram:hover{

opacity:0.5;

}


#yoyaku_total{
width:1000px;
/*縦幅の指定*/
padding-top:250px;
}





#yoyaku_total h2{
/*フォントサイズの変更*/
 font-size:200%;

}
#yoyaku_total h3{
/*フォントサイズの変更*/
 font-size:120%;

}

#webyoyaku{
/*縦幅の指定*/
margin-top:50px;

}

#webyoyaku p{
/*文字色の変更*/
 color:#afabab;
/*フォントサイズの変更*/
 font-size:120%;

}
#snsyoyaku{
/*縦幅の指定*/
 padding-top:50px;
width:500px;

}

#snsyoyaku p{
/*文字色の変更*/
 color:#afabab;
/*フォントサイズの変更*/
 font-size:120%;
 width:500px;

}

#lineyoyaku{
/*相対座標指定*/
position:relative;
/*座標の指定*/
left:200px;
bottom:245px;
width:500px;
}

/*画面下のメニューバーの設定*/

#menu_bottom{
/*テキストの場所を中央寄りにする*/
text-align:center;
/*横幅の指定*/
width:1000px;
/*左寄りにする*/
float:left;
/*配置場所の設定*/
margin-top:80px;
}

#menu_bottom ul{
/*横幅の指定*/
width:1000px;
margin-left:-44px;
}

#menu_bottom li{
/*マーカーの削除*/
list-style: none;
/*縦に配置する*/
display: table;
/*サイズを変更する*/
padding-left:114px;
padding-right:114px;
/*フォントの太さを変更する*/
font-weight:bold;
/*背景色を変更する*/
background-color:#ffc0b2;
/*文字サイズを変更する*/
font-size:150%;
/*箱のサイズを変える*/
padding-top:30px;
padding-bottom:30px;
/*左寄りに配置する*/
float:left;
}

#menu_bottom li a{
/*マーカーをなくす*/
text-decoration: none;
/*文字の色を変える*/
color:#767171;
/*テキストを中央寄りにする*/
text-align:center;

}

#menu_bottom li a:hover{
/*マーカーをなくす*/
text-decoration: none;
/*文字の色を変える*/
color:#ffffff;
/*テキストを中央寄りにする*/
text-align:center;

}
